.typetest-container {
  max-width: 400px;
  margin: 0 auto;

  .message {
    height: 200px;
    overflow: scroll;
    word-break: break-word;
    padding: 0 6px;

    .word {
      float: left;

      &.isActive {
        color: chocolate;
      }
      .letter {
        &.isValid {
          color: #0f8000;
        }
        &.isInvalid {
          color: #ff1600;
        }
      }
    }
  }

}

#type-test-input{
  margin-top: 20px;
  border: 1px solid bisque;

  padding: 10px 5px;
  border-radius: 2px;

  &:focus {
    outline: none;
  }

}

#type-test-input[placeholder]:empty:before {
  content: attr(placeholder);
  color: #6e6e6e;
}
