<mat-card>
  <mat-card-content>
    <mat-icon>help_outline</mat-icon>
    You will be redirected to the results page when the time is up!
  </mat-card-content>
</mat-card>
<mat-card>

  <mat-card-title>Start typing to begin your test</mat-card-title>

  <div class="results" [ngClass]="{disabled: !typetest.testStarted}">
    <span class="result">{{maxTime - subscribeTimer}} s</span>
    <span class="result">{{typetest.result.accuracy | percent}}</span>
    <span class="result">{{typetest.result.wpm | number:'1.0-1' }} WPM</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly">
    <div id="message">

      <div id="userInput" contenteditable="true"
           autofocus
           tabindex="0"
           (input)="userInput($event)">
      </div>
      <span class="letter"
            [ngClass]="{isActive: letter.isActive, isValid: letter.isValid, isInvalid: typetest.userMessage.length > i && !letter.isValid }"
            *ngFor="let letter of typetest.message; index as i">{{letter.letter}}</span>
    </div>

  </div>

</mat-card>
