.results {
  line-height: 50px;

  &.disabled {
    color: grey;
  }

  .result {
    border: grey 1px solid;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

}

.message {
  width: 50%;
  overflow: scroll;
  word-break: break-word;

  .word {
    float: left;

    &.isActive {
      color: chocolate;
    }

    .letter {
      &.isValid {
        color: #0f8000;
      }

      &.isInvalid {
        color: #ff1600;
      }
    }
  }
}

#type-test-input {
  width: 50%;
  border: 1px solid bisque;
  padding: 10px 5px;
  border-radius: 2px;

  &:focus {
    outline: none;
  }

}

#type-test-input[placeholder]:empty:before {
  content: attr(placeholder);
  color: #6e6e6e;
}
