<mat-card>

  <mat-card-title>Start your typing test</mat-card-title>

  <div class="typetest-container">

    <div class="message">
        <span class="word"
              [ngClass]="{isActive: word.isActive }"
              *ngFor="let word of typetest.message"><span class="letter"
                                                          [ngClass]="{isValid: letter.isValid, isInvalid: !letter.isValid && word.isPast}"
                                                          *ngFor="let letter of word.letters">{{letter.letter}}</span><span>&nbsp;</span></span>
    </div>

    <div id="type-test-input"
         contenteditable="true"
         placeholder="Start typing here to begin the test"
         (input)="userInput($event)"
         (focus)="focus($event)">
    </div>


  </div>


  <mat-card-actions align="start" *ngIf="typetest.testStarted">
    <button mat-button (click)="pauseTest()">Pause</button>
    <button mat-button (click)="stopTest()">Stop</button>
  </mat-card-actions>

</mat-card>

<mat-card *ngIf="typetest.testStarted">
  <div>Time: {{subscribeTimer}}</div>
  <div>Accuracy: {{typetest.result.accuracy}}</div>
  <div>WPM: {{typetest.result.wpm}}</div>
</mat-card>
