mat-card {
  margin: 10px 0;
}

$max-test-container-width: 850px;
$test-container-width: 80%;

.results {
  max-width: $max-test-container-width;
  width: $test-container-width;
  line-height: 50px;

  &.disabled {
    color: grey;
  }

  .result {
    border: grey 1px solid;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .label {
    color: #000;
  }

}

#userInput {
  position: absolute;
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100%;
}

#message {
  position: relative;
  font-family: monospace;
  font-size: 24px;
  max-width: $max-test-container-width;
  width: $test-container-width;
  overflow: scroll;
  word-break: break-word;

  .letter {
    &.isValid {
      color: #0f8000;
    }

    &.isActive {
      color: chocolate;

      &:before {
        position: absolute;
        content: '_';
      }
    }

    &.isInvalid {
      color: #ff1600;
    }
  }
}

#type-test-input {
  width: 50%;
  border: 1px solid bisque;
  padding: 10px 5px;
  border-radius: 2px;

  &:focus {
    outline: none;
  }

}

#type-test-input[placeholder]:empty:before {
  content: attr(placeholder);
  color: #6e6e6e;
}
